$font-stack: Helvetica, sans-serif;
$font-size-base: 14px;

$table-header-separator: #BBB !default;
$table-rowset-separator: #BBB !default;
$table-header-padding-top: 25px;
$table-cell-padding: 0.75rem !default;
$table-border-color: #BBB;
$table-border-width: 1px !default;
$line-height: 4 / 3 !default;