$font-stack: Helvetica, sans-serif;

$table-header-separator: #ccc !default;
$table-rowset-separator: #adadad !default;
$table-header-padding-top: 50px;
$table-cell-padding: 0.75rem !default;
$table-border-color: #AAA;
$table-border-width: 1px !default;
$line-height: 4 / 3 !default;