@import "variable";

html, body {
    margin: 0;
    padding: 0;
    line-height: $line-height;
    font: 100% $font-stack;
    font-size: $font-size-base;
}

div {
    display: block;
}

.container {
    padding: 0px 20px;
}

div.rpt-table-container {
    p {
        &.title {
            text-align: center;
            font-weight: bold;
            font-size: 32px;
            margin-bottom: 0.5em;
        }

        &.section1 {
            text-align: center;
            font-size: 20px;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        &.section2 {
            text-align: center;
            font-size: 16px;
            margin-top: 0.5em;
        }

        &.section3 {
            text-align: center;
            font-size: 14px;
        }
    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        margin: 0;
        padding: 0;
        width: 100%;

        td, th {
            //padding: $table-cell-padding;
            box-sizing: $table-cell-box-sizing;
        }

        tr {
            page-break-inside: avoid;
        }

        thead {
            display: table-header-group;

            tr {
                th {
                    border-bottom: (2 * $table-border-width) solid $table-header-separator;
                    font-weight: bold;
                    padding-top: $table-header-padding-top;
                }
            }
        }

        tbody {
            // white-space: nowrap;

            tr {
                &.top-line {
                    td {
                        border-top: $table-border-width solid $table-rowset-separator;
                    }
                }

                &.bottom-line {
                    td {
                        border-bottom: $table-border-width solid $table-rowset-separator;
                    }
                }

                td {
                    vertical-align: top;
                }
            }
        }

        // tfoot {
        // display: table-row-group;
        // }

    }
}